.container {
  padding-top: $space-lg;
  padding-bottom: $space-lg;
}

.grid {
  display: grid;
  gap: $space-lg;
}

body {
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1950&q=80')
    no-repeat center center fixed;
  background-size: cover;
}
